{% extends "base.html" %}

{% block content %}
    <div class="container">
      <h1 class="mt-5">欢迎使用！</h1>
      <div class="alert alert-warning" role="alert">
        今天日期是：<b>{{ date }}</b>。请务必选择日期正确的数据。
      </div>
      <p>首先需要上传由收银机生成的csv文件。</p>
      <p>这样，程序才可以访问现金、微信支付宝和小程序等数据；就和我们直接看小票一样。</p>
      <form method="post" enctype="multipart/form-data">
        <div class="input-group mb-2">
          <div class="custom-file">
            <input id="selectCSV" name="file" type="file" class="custom-file-input" id="inputGroupFile">
            <label class="custom-file-label" for="inputGroupFile" aria-describedby="inputGroupFileAddon">选择文件</label>
          </div>
        </div>
        <small class="form-text text-muted">先在上面选择今天导出的文件，然后点击提交进入下一步。</small>
        <br />
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
    </div>

    <script>
      document.querySelector('.custom-file-input').addEventListener('change',function(e){
        var fileName = document.getElementById("selectCSV").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
      })
    </script>
{% endblock %}